<!DOCTYPE html>
<html lang="en">
<head>   
      

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>profile</title>
</head>
<body>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">post something</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

           
          </div>
          <div class="modal-body">
            <form method="post" action="/post" className="form-submit">
            <p>Write your thoughts</p>
            <input type="hidden" name="email" value=<%=email%>>
                <textarea class="form-control" name="content"></textarea>
                <input type="radio" name="visibility" value="private">private
                <input type="radio" name="visibility" value="public">public
          </div>
          <div class="modal-footer">
            <button type="submit"  >Add</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
       
          </div>
        </form>
        </div>
 
      </div>
    </div>
<%for(var i=0;i<res.length;i++)
{%>
    <div style="margin:20px auto; width:33%;" class="card">
        <div class="card-header">EMAIL:&nbsp;&nbsp; <%=email%></div>
        <div class="card-body">CONTENT: &nbsp;&nbsp;<%=res[i].content%></div>
        <div class="card-footer">VISIBILITY:&nbsp;&nbsp; <%=res[i].visibility%></div>
      </div>
<%}%>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
      crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" 
integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" 
crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>