<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup</title>
    <link rel="stylesheet" href="index.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
   
</head>
<body>


    <div class="wrapper">
        <div class="logo"> <img src="https://s.yimg.com/fz/api/res/1.2/LxE2mvvqrY93aUGeIKkD4g--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI2MDtxPTgwO3c9MjYw/https://s.yimg.com/zb/imgv1/c165dc31-f7f7-35c4-8df4-cdd842798724/t_500x300" alt=""> </div>
       <br>
        <div class="text-center mt-4 name"> Facebook </div>
        <form method="post" action="/signup_data" class="p-3 mt-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input style="padding:20px;" required type="text" class="form-control" name="username"id="exampleFormControlInput1" placeholder="username">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input style="padding:20px;"  required type="email" name="email"class="form-control" id="exampleFormControlInput1" placeholder="email">
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input style="padding:20px;" required name="password" type="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
  <button type="submit" class="btn btn-primary">Sign Up</button>
 
        </form>
        <div class="text-center fs-6">  <a href="signup_login"><h2>or Login</h2></a> </div>
    </div>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>